<footer class="footer-section text-white">
    <div class="d-flex justify-content-evenly pt-5">
      <div class="w-25">
        <p class="fw-semibold fs-5">Logo</p>
        <br />
        <p>
          Maecenas ne mollis orci. Phasell iacu sapie non aliquet ex euismo
          ac.
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i
          ><span class="ms-2">Cyberjaya, Selangor, 63000</span>
        </p>
        <p>
          <i class="fa-solid fa-phone"></i
          ><span class="ms-2">+6012449899498</span>
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i
          ><span class="ms-2">contact@auction.com</span>
        </p>
        <br />
        <p>Copyright 2024 Auction</p>
      </div>
      <div>
        <p class="fw-semibold">Featured Link</p>
        <br />
        <p>About us</p>
        <p>Terms & Services</p>
        <p>Privacy Policy</p>
        <p>Contact</p>
      </div>
      <div>
        <div class="d-flex justify-content-start">
          <div>
            <p class="fw-semibold">Get in touch</p>
          </div>
          <div class="ps-2"><i class="fa-brands fa-facebook fa-lg"></i></div>
          <div class="ps-2"><i class="fa-brands fa-instagram fa-lg"></i></div>
          <div class="ps-2"><i class="fa-brands fa-linkedin fa-lg"></i></div>
          <div class="ps-2"><i class="fa-brands fa-x-twitter fa-lg"></i></div>
        </div>
        <br /><br />
        <div>
          <p class="fw-semibold">SUBSCRIBE TO THE AUCTION</p>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="email"
              placeholder="E-mail Address"
            />
            <button class="btn btn-warning" type="submit">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
  </footer>