<footer class="footer-section text-white">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4 mb-4">
        <p class="fw-semibold fs-5">MY Auction</p>
        <br />
        <p>Maecenas ne mollis orci. Phasell iacu sapie non aliquet ex euismo ac.</p>
        <p>
          <i class="fa-solid fa-location-dot"></i><span class="ms-2">Cyberjaya, Selangor, 63000</span>
        </p>
        <p>
          <i class="fa-solid fa-phone"></i><span class="ms-2">+6012449899498</span>
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i><span class="ms-2">contact@auction.com</span>
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <p class="fw-semibold">Featured Link</p>
        <br />
        <p>About us</p>
        <p>Terms & Services</p>
        <p>Privacy Policy</p>
        <p>Contact</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="d-flex align-items-center mb-3">
          <p class="fw-semibold me-2 mb-0">Get in touch</p>
          <div><i class="fa-brands fa-facebook fa-lg me-2"></i></div>
          <div><i class="fa-brands fa-instagram fa-lg me-2"></i></div>
          <div><i class="fa-brands fa-linkedin fa-lg me-2"></i></div>
          <div><i class="fa-brands fa-x-twitter fa-lg"></i></div>
        </div>
        <br />
        <p class="fw-semibold">SUBSCRIBE TO THE AUCTION</p>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="email" placeholder="E-mail Address" />
          <button class="btn btn-warning" type="submit">SUBSCRIBE</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="bg-primary mx-3" />
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-auto">
        <p>&copy; Auction 2024</p>
      </div>
    </div>
  </div>
</footer>


