<% layout("/layouts/boilerplate") %>
<body>
  <form
    method="POST"
    action="/listings"
    enctype="multipart/form-data"
    class="needs-validation"
    id="imageUploadForm"
    novalidate
  >
    <div class="container-fluid carDeatils-box mt-5">
      <h5 class="p-4 text-center fw-bold">Add Photos</h5>
      <div id="feedbackMessage" class="alert d-none"></div>
      <div class="ps-5 pe-5 pb-4">
        <div class="d-flex flex-wrap gap-3">
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-1"
              accept="image/*"
            />
            <label class="d-inline" for="file-1" id="file-1-preview">
              <img src="/image/uploadImage.jpg" alt="" class="img-fluid" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-2"
              accept="image/*"
            />
            <label class="d-inline" for="file-2" id="file-2-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-3"
              accept="image/*"
            />
            <label class="d-inline" for="file-3" id="file-3-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-4"
              accept="image/*"
            />
            <label class="d-inline" for="file-4" id="file-4-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-5"
              accept="image/*"
            />
            <label class="d-inline" for="file-5" id="file-5-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-6"
              accept="image/*"
            />
            <label class="d-inline" for="file-6" id="file-6-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-7"
              accept="image/*"
            />
            <label class="d-inline" for="file-7" id="file-7-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
          <div class="form-element">
            <input
              type="file"
              name="listing[image]"
              id="file-8"
              accept="image/*"
            />

            <label class="d-inline" for="file-8" id="file-8-preview">
              <img src="/image/uploadImage.jpg" alt="" />
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid carDeatils-box mt-5">
      <h5 class="p-4 text-center fw-bold">Insert Car Specifications</h5>
      <div class="ps-5 pe-5 pb-4">
        <div class="mb-3">
          <label class="form-label fw-medium">Condition</label>
          <select
            class="form-select border border-black"
            required
            aria-label="Default select example"
            name="listing[condition]"
          >
            <option value="new" selected>New</option>
            <option value="used">Used</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Car Type</label>
          <select
            class="form-select border border-black"
            required
            aria-label="Default select example"
            name="listing[carType]"
          >
            <option value="petrol" selected>Petrol</option>
            <option value="electric">Electric</option>
            <option value="hybrid">Hybrid</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Registration Type</label>
          <select
            class="form-select border border-black"
            required
            aria-label="Default select example"
            name="listing[registrationType]"
          >
            <option value="private" selected>Private</option>
            <option value="public">Public</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Registration Date</label>
          <input
            type="date"
            class="form-control border border-black"
            id="date"
            name="listing[registrationDate]"
            placeholder="Registration Date"
            required
          />
          <div class="invalid-feedback">Please enter a Registration Date</div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Brand & Model</label>
          <input
            type="text"
            class="form-control border border-black"
            name="listing[brandModel]"
            placeholder="Brand & Model"
            required
          />
          <div class="invalid-feedback">Please enter a Brand & Model</div>
        </div>
        <div class="mb-3">
          <label for="numericInput1" class="form-label fw-medium"
            >Mileage</label
          >
          <input
            type="text"
            class="form-control border border-black numericInput"
            name="listing[mileage]"
            placeholder="Mileage"
            required
          />
          <div class="invalid-feedback">Please enter a Mileage</div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Year</label>
          <select
            id="year"
            class="form-select border border-black"
            name="listing[year]"
          ></select>
          <div class="invalid-feedback">Select a Year</div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">seat</label>
          <select
            class="form-select border border-black"
            required
            name="listing[seat]"
            aria-label="Default select example"
          >
            <option value="2" selected>2</option>
            <option value="4">4</option>
            <option value="6">6</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Color</label>
          <input
            type="text"
            class="form-control border border-black"
            name="listing[color]"
            placeholder="Color"
            required
          />
          <div class="invalid-feedback">Please enter a Color</div>
        </div>
      </div>
    </div>

    <div class="container-fluid carDeatils-box mt-4 mb-4">
      <h5 class="p-4 text-center fw-bold">Describe Your Car</h5>
      <div class="ps-5 pe-5 pb-4">
        <div class="mb-3">
          <label class="form-label fw-medium">Car Title</label>
          <input
            type="text"
            class="form-control border border-black"
            name="listing[title]"
            placeholder="Car Title"
            required
          />
          <div class="invalid-feedback">Please enter a Title</div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-medium">Describe</label>
          <textarea
            class="form-control border border-black"
            name="listing[description]"
            placeholder="Describe"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a Describe</div>
        </div>
        <div class="mb-3">
          <label for="numericInput2" class="form-label fw-medium">Price</label>
          <input
            type="text"
            class="form-control border border-black numericInput"
            name="listing[price]"
            placeholder="RM Price"
            required
          />
          <div class="invalid-feedback">Please enter a Price</div>
        </div>
        <div class="mb-2">
          <label class="form-label fw-medium">Location</label>
          <input
            type="text"
            class="form-control border border-black"
            name="listing[location]"
            placeholder="Location"
            required
          />
          <div class="invalid-feedback">Please enter a Location</div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-4 mb-4 w-50 offset-9">
      <button type="submit" class="btn btn-primary fw-semibold">
        Submit
      </button>
    </div>
  </form>
  <script>
    
  </script>
</body>
