<% layout("/layouts/boilerplate") %>

<article>
  <section>
    <div
      class="container-fluid d-flex justify-content-center align-items-center cover"
    >
      <div class="cover-content">
        <button class="btn btn-primary w-100 p-3 fs-5 mb-4">
          Welcome to Auction
        </button>
        <h2>Find Your Dream Car</h2>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div
      class="container-fluid d-flex justify-content-between align-items-center under-cover"
    >
      <div class="ms-4">
        <p>
          Owners of salvage-title vehicles will encounter some unique issues.
        </p>
      </div>
      <div class="me-5">
        <button class="btn btn-warning">See All Cars</button>
      </div>
    </div>
  </section>

  <section class="container-fluid mt-5 mb-5">
    <div class="d-flex justify-content-evenly">
      <div class="ms-5">
        <h3>WHY CHOOSE US</h3>
        <P
          >Vivamus gravida magna massa in cursus mi vehicula at. Nunc sem quam
          suscipit</P
        >
        <hr class="homepage-small-hr" />
        <div class="d-flex justify-content-around mt-5 ms-3">
          <div>
          <div class="d-flex justify-content-center align-items-center mb-3">
            <div>
              <p class="me-4">
                <i class="fa-solid fa-chart-column fa-2xl"></i>
              </p>
            </div>
            <div class="w-75">
              <p><span class="fw-bold">RESULTS OF DRIVERS</span> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, non.
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <p class="me-4">
                <i class="fa-solid fa-chart-column fa-2xl"></i>
              </p>
            </div>
            <div class="w-75">
              <p><span class="fw-bold">RESULTS OF DRIVERS</span> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, non.
              </p>
            </div>
          </div>
          </div>
          <div>
          <div class="d-flex justify-content-center  align-items-center mb-3">
            <div>
              <p class="me-4">
                <i class="fa-solid fa-chart-column fa-2xl"></i>
              </p>
            </div>
            <div class="w-75">
              <p><span class="fw-bold">RESULTS OF DRIVERS</span> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, non.
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center  align-items-center">
            <div>
              <p class="me-4">
                <i class="fa-solid fa-chart-column fa-2xl"></i>
              </p>
            </div>
            <div class="w-75">
              <p><span class="fw-bold">RESULTS OF DRIVERS</span> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, non.
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="image-container me-5">
        <img src="/image/home page 2nd image.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="mt-5 car-listing">
    <div class="text-center pt-4">
      <h4>FEATURED CARS LISTING</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus,
        quasi.
      </p>
    </div>
    <div class="ms-5 me-5 pb-5">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col p-4">
          <div class="card">
            <img
              src="/image/samapleListing1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div>
              <p
                class="bg-warning ps-3 pe-3 pt-2 pb-2 float-end fw-semibold m-0"
              >
                52,000
              </p>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title">Mercedes AMG 6.3</h5>
              <hr class="w-25" />
              <p class="card-text">
                Donec eu nullas sapien pretium volutpat vel quis turpis. Donec
                vel risus lacinia euismod urna vel fringilla justo.
              </p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between listing-icon">
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/Road.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >12,000</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-4">
          <div class="card">
            <img
              src="/image/sampleListing2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div>
              <p
                class="bg-warning ps-3 pe-3 pt-2 pb-2 float-end fw-semibold m-0"
              >
                52,000
              </p>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title">Mercedes AMG 6.3</h5>
              <hr class="w-25" />
              <p class="card-text">
                Donec eu nullas sapien pretium volutpat vel quis turpis. Donec
                vel risus lacinia euismod urna vel fringilla justo.
              </p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between listing-icon">
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/Road.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >12,000</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-4">
          <div class="card">
            <img
              src="/image/sampleListing3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div>
              <p
                class="bg-warning ps-3 pe-3 pt-2 pb-2 float-end fw-semibold m-0"
              >
                52,000
              </p>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title">Mercedes AMG 6.3</h5>
              <hr class="w-25" />
              <p class="card-text">
                Donec eu nullas sapien pretium volutpat vel quis turpis. Donec
                vel risus lacinia euismod urna vel fringilla justo.
              </p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between listing-icon">
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/Road.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >12,000</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-4">
          <div class="card">
            <img
              src="/image/sampleListing4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div>
              <p
                class="bg-warning ps-3 pe-3 pt-2 pb-2 float-end fw-semibold m-0"
              >
                52,000
              </p>
            </div>
            <div class="card-body pt-0">
              <h5 class="card-title">Mercedes AMG 6.3</h5>
              <hr class="w-25" />
              <p class="card-text">
                Donec eu nullas sapien pretium volutpat vel quis turpis. Donec
                vel risus lacinia euismod urna vel fringilla justo.
              </p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between listing-icon">
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/dissel.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >Diesel</span
                  >
                </div>
                <div class="listing-line"></div>
                <div>
                  <img src="/image/Road.png" class="icon-size" alt="" /><span
                    class="ms-2"
                    >12,000</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
