/* navbar style */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header line */
.starting-hr {
  height: 2rem;
  margin: 0;
}

/* navbar logo line  */
.line {
  border-left: 1px solid black !important;
  height: 3rem;
}

/* notification */
#notification-dropdown {
  display: none;
  max-height: 300px; /* Set the max height as per your requirement */
  overflow-y: auto; /* Enable vertical scrolling */
  position: absolute;
  top: 3rem; 
  right: 0;
  min-width: 200px;
  width: auto;
  background-color: #d5dde7;
  border: 1px solid #d5dde7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#notification-dropdown .dropdown-item {
  padding: 0.5rem 1rem;
}

.read-notification {
  background-color: white; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #notification-dropdown {
    top: 2rem; /* Adjust top position for smaller screens */
    min-width: 100%; /* Ensure dropdown takes full width on small screens */
    max-height: 200px; /* Adjust max-height for smaller screens */
  }
}

@media (max-width: 576px) {
  #notification-dropdown {
    top: 1.5rem; /* Adjust top position for very small screens */
    max-height: 150px; /* Adjust max-height for very small screens */
  }

  #notification-dropdown .dropdown-item {
    padding: 0.5rem; /* Adjust padding for very small screens */
  }
}

/* homepage style */
/* cover image */
.cover {
  height: 42rem;
  opacity: 0.5;
  position: relative;
  background-image: url("/Image/cover1.jpg");
  background-size: cover;
  background-position: center;
}

/* cover content */
.cover-content,
.cover-content button {
  color: rgb(0, 0, 0);
}

/* under-cover  */
.under-cover {
  background-color: rgba(11, 130, 240, 0.11);
  height: 3rem;
  padding: 2rem;
}

/* horizontal line */
.homepage-small-hr {
  width: 8rem;
  background-color: black;
  border: 1px solid black;
}

/* setting image container */
.image-container {
  box-shadow: 30px 30px rgba(11, 130, 240, 0.11);
}

/* setting icon size */
.homepage-icon-size {
  height: 50px;
}

/* car listing */
.car-listing {
  background-color: rgba(11, 130, 240, 0.11);
}

/* listing page style */
/* refine search */
.refine-search {
  background-color: rgba(27, 106, 197, 1);
  color: white;
}

/* refine box */
.refine-head {
  background-color: rgba(56, 95, 130, 1);
}

.refine-line {
  height: 2rem;
  border-left: 0.3rem solid rgba(255, 215, 76, 1);
}

.btn-refine-search {
  background-color: rgba(255, 215, 76, 1);
  /* width: 12rem; */
}

.hidden {
  display: none;
}

/* cards */
.card {
  margin-bottom: 2rem;
}

.card-img-top {
  height: 30vh;
}

.listing-link {
  text-decoration: none;
}

/* car listing */
.listing-line {
  border-left: 1px solid black !important;
  height: 2rem;
}

/* sizing the icon in listing */
.icon-size {
  width: 25px;
  height: 25px;
}

/* car details page style */
/* heading of the image */
.image-head {
  background-color: rgba(11, 130, 240, 0.11);
}

/* adjust carousel image */
.carousel-item img {
  width: 100%;
  height: 31rem; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* auction Box */
.auction-box {
  width: 30rem;
}

.is-invalid {
  border-color: #dc3545;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-value {
  margin-left: 10px;
  width: 6rem;
}
.error {
  color: red;
  margin-top: 5px;
}

/* car overview */
.car-overview {
  background-color: rgba(11, 130, 240, 0.11);
}

.small-hr {
  margin: 0 46rem 0 46rem;
  background-color: rgb(255, 200, 0);
  border: 2px solid rgb(255, 200, 0);
}

/* enquiry  */
.enquiry-box {
  background-color: rgba(11, 130, 240, 0.11);
  width: 25rem;
}

.enquiry-head {
  background-color: rgba(56, 95, 130, 1);
  color: white;
  /* width: 10rem; */
}

.enquiry-line {
  height: 2rem;
  border-left: 0.5rem solid rgba(255, 215, 76, 1);
}

/* create listing & Edit Listing Form*/
.carDeatils-box {
  background-color: rgba(11, 130, 240, 0.11);
  width: 60rem;
}

/* image uploader style */
.form-element {
  width: 12rem;
  height: 12rem;
  box-shadow: 0px 0px 20px 5px rgba(100, 100, 100, 0.1);
}
.form-element input {
  display: none;
}
.form-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-element div {
  position: relative;
  height: 40px;
  margin-top: -40px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  color: #f5f5f5;
  font-weight: 600;
}
.form-element div span {
  font-size: 40px;
}

/* create form,  edit button */
.add-btn,
.edit-btn {
  background-color: rgb(87, 183, 212) !important;
  border: none !important;
}

/* footer background setup */
.footer-section {
  background-color: rgba(0, 49, 95, 1);
}

/* register && login page */
.register-box {
  background-color: rgba(11, 130, 240, 0.11);
  width: 35rem;
}

.google-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.google-btn img {
  margin-right: 8px;
}
.apple-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* approve disapprove page style */
/* image setup */
.img-car {
  max-width: 100%;
  height: 30vh;
}

/* car listing */
.auclisting-line {
  border-left: 1px solid black !important;
  height: 2.9rem;
}

.listing-icon {
  --bs-card-cap-padding-x: 0rem !important;
}

/* sizing the icon in listing */
.icon-size {
  width: 25px;
  height: 25px;
}

.car-auclisting {
  padding: 0 !important;
  margin-top: 1rem;
}

.car-auclisting .card-footer {
  padding: 0 !important;
  background-color: rgba(11, 130, 240, 0.11);
}

/* profile page style */
/* set color box setting boxes */
.setting-box {
  background-color: rgba(11, 130, 240, 0.11);
}

.btn-verify {
  background-color: rgba(56, 95, 130, 1);
  color: white;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.btn-verify:hover {
  background-color: rgb(66, 101, 131);
}

/* admin auction form */
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.item-image {
  width: 100px;
  height: auto;
}

/* after result details page */
.contact-box {
  background-color: rgba(11, 130, 240, 0.11);
}

.small-hr {
  margin: 0 46rem 0 46rem;
  background-color: rgb(255, 200, 0);
  border: 2px solid rgb(255, 200, 0);
}

/* enquiry  */
.enquiry-box {
  background-color: rgba(11, 130, 240, 0.11);
  width: 25rem;
}

.contact-head {
  background-color: rgba(56, 95, 130, 1);
  color: white;
  /* width: 10rem; */
}

.contact-line {
  height: 2rem;
  border-left: 0.5rem solid rgba(255, 215, 76, 1);
}

.btn-contact {
  background-color: rgba(56, 95, 130, 1);
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.btn-contact:hover {
  background-color: rgb(66, 101, 131);
}

/* rating box css */
.rating-box {
  background-color: rgb(227, 226, 226);
}

/* sizing the icon in listing */
.icon-size {
  width: 25px;
  height: 25px;
}

/* slider style */
.wrapper {
  width: 100%;
  padding-bottom: 2rem;
}

header {
  text-align: center;
}

header h2 {
  font-size: 24px;
  font-weight: 600;
}

header p {
  margin-top: 5px;
  font-size: 16px;
}

.price-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 35px;
}

.price-input .field {
  display: flex;
  align-items: center;
}

.price-input .field span {
  font-size: 16px;
}

.price-input .field input {
  width: 100%;
  max-width: 120px;
  height: 45px;
  outline: none;
  font-size: 16px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #0895f3;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #0895f3;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #0895f3;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}