<% layout("/layouts/boilerplate") %>
<section class="mb-5 mt-5">
  <div class="container-fluid register-box mt-5 mb-5 text-center">
    <h3 class="p-4 fw-bold">Verify OTP</h3>
    <form action="/verify" method="POST" novalidate class="needs-validation">
      <div>
        <h6>An OTP has been sent to <%= email %>. Please check your inbox.</h6><br>
        <input type="hidden" name="email" value="<%= email %>" />
        <label class="form-label fw-medium" for="otp">Enter OTP:</label>
        <div class="d-flex justify-content-center">
          <input type="text" class="form-control border-secondary w-50" name="otp" required />
        </div>
        <div class="invalid-feedback">Please enter OTP</div>
      </div>
      <button type="submit" class="btn btn-primary w-50 fs-5 mb-5 fw-semibold mt-4">
        Verify
      </button>
    </form>
  </div>
</section>
